.fieldInput {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  user-select: none;
}

.radioIcon {
  fill: var(--bg-blue);
}

.icon {
  fill: var(--icon-radio);
}

.radioOption {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.radioOption:last-of-type {
  margin-bottom: 0;
}

.legend {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.textError {
  height: 18px;
  font-size: small;
  color: var(--red);
}

.inputBook {
  width: 100%;
  border: 1px solid var(--input-text);
  border-radius: 12px;
  padding: 12px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
}

.inputBook::placeholder {
  color: var(--main-color);
}

.textError:last-of-type {
  margin-bottom: 22px;
}

.bookBtn {
  width: 100%;
}
