.modalTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.closeBtn {
  background-color: transparent;
  margin-left: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 12px 44px 44px;
}

.descr {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--descr-modal);
  max-width: 400px;
}

/* overlay */
.overlayBase {
  position: fixed;
  inset: 0;
  background-color: var(--bg-overlay);
  opacity: 0;
  transition: opacity 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.overlayAfterOpen {
  opacity: 1;
}

.overlayBeforeClose {
  opacity: 0;
}

/* modal */
.modalBase {
  background-color: var(--bg-white);
  padding: 20px;
  border-radius: 30px;
  max-width: 599px;
  max-height: 95dvh;
  overflow-y: auto;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 300ms ease;
  position: relative;
}

.modalBase::-webkit-scrollbar {
  width: 5px;
}
.modalBase::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

.modalBase::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--badges-border);
}

.modalBase::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}

.modalAfterOpen {
  transform: translateY(0);
  opacity: 1;
}

.modalBeforeClose {
  transform: translateY(-20px);
  opacity: 0;
}
