@import "modern-normalize/modern-normalize.css";
:root {
  --font: "Roboto", sans-serif;
  --main-color: #121417;
  --white-color: #fff;
  --bg-gray: #f8f8f8;
  --bg-black: var(--main-color);
  --bg-light-blue: #bfd6ea;
  --bg-blue: #9fb7ce;
  --bg-white: var(--white-color);
  --bg-overlay: var(--board-span);
  --icon-radio: #d0d0d1;
  --green: #38cd3e;
  --gold: #ffc531;
  --red: #ea080c;
  --placeholder: #8a8a89;
  --board-span: rgba(18, 20, 23, 0.7);
  --badges-border: rgba(18, 20, 23, 0.2);
  --descr-modal: rgba(18, 20, 23, 0.8);
  --input-text: rgba(18, 20, 23, 0.1);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-family: var(--font);
}

main {
  padding-top: 68px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

button {
  font-family: var(--font);
  cursor: pointer;
  border: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  font-family: var(--font);
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}
